
<div class="heading_container">
<h1>Your transactions...</h1>
</div>

<div class="header_links">

<a href="/transactions/new">
<h3>Create new transaction</h3>
</a>

</div>

<div class="budget_message_container">

<% if @budgets %>
<% for budget in @budgets %>
<div class="<%=budget.message_indicator%>">
  <h3> Skint? <%=budget.message%></h3>
  <% end %>
</div>
<% end %>
</div>

<div class="totals_container">

<div class="totals">
  <% if @total_by_merchant%>
  <h3>Total for merchant: £<%=@total_by_merchant%>
  <%end%>

  <% if @total_by_month%>
  <h3>Total for month: £<%=@total_by_month%>
  <%end%>

  <% if @total_by_tag%>
  <h3>Total by tag: £<%=@total_by_tag%>
  <%end%>

  <h3>Total for all transactions: £<%=@total%></h3>
  </div>
</div>

<div class="container_transactions">
  <% for transaction in @transactions %>
  <div class="transactions">
    <p>Amount: £<%=transaction.amount.to_s%></p>
    <p>Merchant: <%=transaction.find_merchant()%></p>
    <p>Tag: <%=transaction.find_tag()%></p>
    <p>Date: <%=transaction.display_date()%></p>
    <form method = "post" action = "/transactions/<%=transaction.id%>/delete">
      <input type="submit" value="Delete transaction"/>
    </form>
    <hr>
  </div>
  <% end %>
  </div>

  <div class="header_links">
    <a href="/transactions/by_date">
    <h3>Order transactions by date</h3>
    </a>
  </div>

  <div class="filters">
    <hr>
  <form class="merchant_filter" action="/transactions/filter_merchant" method="get">
  <label for="merchant-filter">Select a merchant:</label>
  <select id="merchant-filter" name="merchant_id">
    <option style="display:none;"></option>
    <% for merchant in @merchants %>
    <option value= <%=merchant.id%>><%=merchant.name%></option>
   <% end %>
     <input type="submit" value="Filter by merchant"/>
  </select>
  </form>

  <form class="tag_filter" action="/transactions/filter_tag" method="get">
  <label for="tag-filter">Select a tag:</label>
  <select id="tag-filter" name="tag_id">
    <option style="display:none;"></option>
    <% for tag in @tags %>
    <option value= <%=tag.id%>><%=tag.name%></option>
   <% end %>
     <input type="submit" value="Filter by tag"/>
  </select>
  </form>

  <form class="month_filter" action="/transactions/filter_month" method="get">
  <label for="month-filter">Select a month:</label>
  <select id="month-filter" name="month_number">
    <option style="display:none;"></option>
    <option value= "1">January</option>
    <option value= "2">February</option>
    <option value= "3">March</option>
    <option value= "4">April</option>
    <option value= "5">May</option>
    <option value= "6">June</option>
    <option value= "7">July</option>
    <option value= "8">August</option>
    <option value= "9">September</option>
    <option value= "10">October</option>
    <option value= "11">November</option>
    <option value= "12">December</option>
     <input type="submit" value="Filter by month"/>
  </select>
  </form>
  </div>
