
<div class="heading_container">
<h1>Your budget...</h1>
</div>

<% if @budgets.length > 0 %>
<p> </p>
<% else %>
<div class="header_links">
  <a href="/budgets/new">
  <h3>Add a new budget</h3>
  </a>
</div>
<%end%>



<div class="container">

  <% for budget in @budgets %>
  <div class="budget_message">
    <p>Budget total: £<%=budget.total%></p>
    <p>Budget warning limit: £<%=budget.warning_limit%></p>
    <p>Budget remaining: £<%=budget.remaining_budget()%></p>
    <p>Budget status: <%=budget.message()%></p>
    <p><a href="/budgets/<%=budget.id%>/edit" >Edit my budget</a></p>
    <form method = "post" action = "/budgets/<%=budget.id%>/delete">
      <input type="submit" value="Delete budget"/>
    </form>
    <hr>
  </div>
  <% end %>

</div>
